
/* ------------- General ------------- */


.csslider1 {
  display:block;
  position: relative;
  max-width: 1920px;
  
  width: 100%;
  margin-top: 10px;
}
.csslider1 > .cs_anchor {
  display: none;
}
.csslider1 > ul {
  position: relative;
  z-index: 1;
  font-size: 0;
  line-height: 0;
  margin: 0 auto;
  padding: 0;
  
  overflow: hidden;
  white-space: nowrap;
}
.csslider1 > ul > .cs_skeleton {
  width: 100%;
  visibility: hidden;
  font-size: 0px;
  line-height: 0;
}
.csslider1 > ul > .slide.img img {
  width: 100%;
}
.csslider1 > ul > .slide.img a {
  font-size: 0pt;
  color: transparent;
}
.csslider1 > ul > .slide {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: 15px;
  font-size: initial;
  line-height: normal;
  white-space: normal;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}
.csslider1 .cs_lnk{
  position: absolute;
  top: -9999px;
  left: -9999px;
  font-size: 0pt;
  opacity: 0;
  filter: alpha(opacity=0);
}

.csslider1 > ul > li.img,
.csslider1 > .cs_arrowprev,
.csslider1 > .cs_arrownext,
.csslider1 > .cs_bullets,
.csslider1 > .cs_play_pause {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* ------------- /General Styles ------------- */

/* ------------- General Arrows ------------- */
.csslider1 > .cs_arrowprev,
.csslider1 > .cs_arrownext {
  position: absolute;
  top: 50%;
  z-index: 5;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.csslider1 > .cs_arrowprev > label,
.csslider1 > .cs_arrownext > label {
  position: absolute;
  text-decoration: none;
  cursor: pointer;
  opacity: 0;
  z-index: -1;
}
.csslider1 > .cs_arrowprev {
  left: 0;
}
.csslider1 > .cs_arrownext {
  right: 0;
}

.csslider1 > .slide:checked ~ .cs_arrowprev > label,
.csslider1 > .slide:checked ~ .cs_arrownext > label {
  opacity: 0;
  z-index: -1;
}



.csslider1 > #cs_slide1_0:checked ~ .cs_arrowprev > label.num2,
.csslider1 > #cs_pause1_0:checked ~ .cs_arrowprev > label.num2,
.csslider1 > #cs_slide1_0:checked ~ .cs_arrownext > label.num1,
.csslider1 > #cs_pause1_0:checked ~ .cs_arrownext > label.num1, 
.csslider1 > #cs_slide1_1:checked ~ .cs_arrowprev > label.num0,
.csslider1 > #cs_pause1_1:checked ~ .cs_arrowprev > label.num0,
.csslider1 > #cs_slide1_1:checked ~ .cs_arrownext > label.num2,
.csslider1 > #cs_pause1_1:checked ~ .cs_arrownext > label.num2, 
.csslider1 > #cs_slide1_2:checked ~ .cs_arrowprev > label.num1,
.csslider1 > #cs_pause1_2:checked ~ .cs_arrowprev > label.num1,
.csslider1 > #cs_slide1_2:checked ~ .cs_arrownext > label.num0,
.csslider1 > #cs_pause1_2:checked ~ .cs_arrownext > label.num0 {
  opacity: 1;
  z-index: 5;
}


@-webkit-keyframes arrow {
  0%, 33.32333333333334% { opacity: 1; z-index: 5; }
  33.333333333333336%, 100%  { opacity: 0; z-index: -1; }
}
@keyframes arrow {
  0%, 33.32333333333334% { opacity: 1; z-index: 5; }
  33.333333333333336%, 100%  { opacity: 0; z-index: -1; }
}


.csslider1 > #cs_play1:checked ~ .cs_arrowprev > label.num2,
.csslider1 > #cs_play1:checked ~ .cs_arrownext > label.num1 {
  -webkit-animation: arrow 12300ms infinite -1000ms;
  animation: arrow 12300ms infinite -1000ms;
}
.csslider1 > #cs_play1:checked ~ .cs_arrowprev > label.num0,
.csslider1 > #cs_play1:checked ~ .cs_arrownext > label.num2 {
  -webkit-animation: arrow 12300ms infinite 3100ms;
  animation: arrow 12300ms infinite 3100ms;
}
.csslider1 > #cs_play1:checked ~ .cs_arrowprev > label.num1,
.csslider1 > #cs_play1:checked ~ .cs_arrownext > label.num0 {
  -webkit-animation: arrow 12300ms infinite 7200ms;
  animation: arrow 12300ms infinite 7200ms;
}


.csslider1 > .slide:checked ~ .cs_arrowprev > label,
.csslider1 > .slide:checked ~ .cs_arrownext > label,
.csslider1 > .pause:checked ~ .cs_arrowprev > label,
.csslider1 > .pause:checked ~ .cs_arrownext > label {
  -webkit-animation: none;
  animation: none;
}


/* ------------- /General Arrows ------------- */

/* ------------- General Bullets ------------- */
.csslider1 > .cs_bullets {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 6;
  font-size: 0;
  line-height: 8pt;
  text-align: center;
}
.csslider1 > .cs_bullets > div {
  margin-left: -50%;
  width: 100%;
}
.csslider1 > .cs_bullets > label {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.csslider1 > .cs_bullets > label > .cs_thumb {
  visibility: hidden;
  position: absolute;
  opacity: 0;
  z-index: 1;
  line-height: 0;
  left: -32px;
  top: -48px;
}
.csslider1 > .cs_bullets > label > .cs_thumb > img {
  max-width: none;
}
/* ------------- /General Bullets ------------- */

/* ------------- General Description ------------- */
.csslider1 > .cs_description {
  z-index: 3;
}
.csslider1 > .cs_description a,
.csslider1 > .cs_description a:visited,
.csslider1 > .cs_description a:active {
  color: inherit;
}
.csslider1 > .cs_description a:hover {
  text-decoration: none;
}
.csslider1 > .cs_description > label {
  position: absolute;
  word-wrap: break-word;
  white-space: normal;
  text-align: left;
  max-width: 50%;
  left: 0;
}
.csslider1 > .cs_description > label > span {
  vertical-align: top;
}
.csslider1 > .cs_description > label span {
  display: inline-block;
}
/* ------------- /General Description ------------- */

/* ------------- General Play Pause ------------- */
.csslider1 > .cs_play_pause {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 5;
}
.csslider1 > .cs_play_pause > label {
  position: absolute;
  cursor: pointer;
}
.csslider1 > #cs_play1:checked ~ .cs_play_pause > .cs_pause,
.csslider1 > .slide:checked ~ .cs_play_pause > .cs_play,
.csslider1 > .pause:checked ~ .cs_play_pause > .cs_play {
  display: block;
  z-index: 5;
}
.csslider1 > #cs_play1:checked ~ .cs_play_pause > .cs_play,
.csslider1 > .slide:checked ~ .cs_play_pause > .cs_pause,
.csslider1 > .pause:checked ~ .cs_play_pause > .cs_pause {
  display: none;
  z-index: -1;
}



@-webkit-keyframes pauseChange {
  0%, 33.32333333333334% { opacity: 1; z-index: 5; }
  33.333333333333336%, 100%  { opacity: 0; z-index: -1; }
}
@keyframes pauseChange {
  0%, 33.32333333333334% { opacity: 1; z-index: 5; }
  33.333333333333336%, 100%  { opacity: 0; z-index: -1; }
}


.csslider1 > #cs_play1:checked ~ .cs_play_pause > .cs_pause.num0 {
  opacity: 0;
  z-index: -1;
  -webkit-animation: pauseChange 12300ms infinite -1000ms;
  animation: pauseChange 12300ms infinite -1000ms;
}
.csslider1 > #cs_play1:checked ~ .cs_play_pause > .cs_pause.num1 {
  opacity: 0;
  z-index: -1;
  -webkit-animation: pauseChange 12300ms infinite 3100ms;
  animation: pauseChange 12300ms infinite 3100ms;
}
.csslider1 > #cs_play1:checked ~ .cs_play_pause > .cs_pause.num2 {
  opacity: 0;
  z-index: -1;
  -webkit-animation: pauseChange 12300ms infinite 7200ms;
  animation: pauseChange 12300ms infinite 7200ms;
}


.csslider1 > .slide:checked ~ .cs_play_pause > .cs_pause,
.csslider1 > .pause:checked ~ .cs_play_pause > .cs_pause {
  -webkit-animation: none;
  animation: none;
}


/* ------------- /General Play Pause ------------- */

/* ------------- General Gestures ------------- */
.csslider1.cs_handle {
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAQAAADZc7J/AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAABwSURBVEjH7ZJBEsAgCAMT/v/n9NCOSqe2oD2yNx1JggB4BCEFWyFASP2KMQE7ywWhe/tTRGCGogLk02tFctiW/SUgaMyQG4PdPzDn31rQbMb8FiAXgvsEJNax1yVlVGAjA93apP3HFhZTGIqiKH7iADB6HxPlHdNVAAAAJXRFWHRkYXRlOmNyZWF0ZQAyMDE0LTA3LTA3VDEzOjQ5OjEwKzAyOjAwm7WiFAAAACV0RVh0ZGF0ZTptb2RpZnkAMjAxNC0wNy0wN1QxMzo0OToxMCswMjowMOroGqgAAAAASUVORK5CYII="), move;
}
.csslider1.cs_handle.cs_grab {
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAQAAADZc7J/AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAABaSURBVEjH7ZMxCkAhDEOT8u9/5TpJ+xWkFse8IYutJgEB8RCHL1qCc90BEFnT6QH7mwgFHBUf8wJyS1TDLuc3vmighx37LZdIth3E5hKj9n6O0HRh+oJCiFcMxRUUDxR1CTMAAAAldEVYdGRhdGU6Y3JlYXRlADIwMTQtMDctMDdUMTM6NDk6MzgrMDI6MDDqf+sOAAAAJXRFWHRkYXRlOm1vZGlmeQAyMDE0LTA3LTA3VDEzOjQ5OjM4KzAyOjAwmyJTsgAAAABJRU5ErkJggg=="), move;
}


.csslider1 .cs_gestures {
  visibility: hidden;
  position: absolute;
  font-size: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
  opacity: 0;

  -webkit-transition: visibility .3s linear, opacity .3s linear;
  transition: visibility .3s linear, opacity .3s linear;
}
.csslider1 .cs_gestures.cs_show {
  visibility: visible;
  opacity: 1;
}
.csslider1 .cs_gestures.cs_show img {
  width: 33.333333333333336%;
}
.csslider1 .cs_gestures.cs_show .cs_first_img {
  position: absolute;
  left: -33.333333333333336%;
  top: 0;
}
.csslider1 .cs_gestures.cs_show .cs_last_img {
  position: absolute;
  left: 100%;
  top: 0;
}

.csslider1 .cs_gestures > div {
  position: absolute;
  left: 0;
  top: 0;
  width: 300%;
}
/* ------------- /General Gestures ------------- */

/* ------------- Effect ------------- */
.csslider1 > ul > .slide.num0 {
  left: 0%;
}
.csslider1 > ul > .slide.num1 {
  left: 100%;
}
.csslider1 > ul > .slide.num2 {
  left: 200%;
}
 


.csslider1 > #cs_slide1_0:checked ~ ul > .slide,
.csslider1 > #cs_pause1_0:checked ~ ul > .slide {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}
.csslider1 > #cs_slide1_1:checked ~ ul > .slide,
.csslider1 > #cs_pause1_1:checked ~ ul > .slide {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}
.csslider1 > #cs_slide1_2:checked ~ ul > .slide,
.csslider1 > #cs_pause1_2:checked ~ ul > .slide {
  -webkit-transform: translateX(-200%);
  transform: translateX(-200%);
}
 


.csslider1 > ul > .slide {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  opacity: 1;

  -webkit-transition: -webkit-transform 1000ms;
  transition: -webkit-transform 1000ms, transform 1000ms;

  
  -webkit-transform: scale(1);
  transform: scale(1);
}



@-webkit-keyframes slide {
  0%, 25.203252032520325%  { -webkit-transform: translateX(0%); transform: translateX(0%); }
  33.333333333333336%, 58.53658536585366%  { -webkit-transform: translateX(-100%); transform: translateX(-100%); }
  66.66666666666667%, 91.869918699187%  { -webkit-transform: translateX(-200%); transform: translateX(-200%); }
  
}
@keyframes slide {
  0%, 25.203252032520325%  { -webkit-transform: translateX(0%); transform: translateX(0%); }
  33.333333333333336%, 58.53658536585366%  { -webkit-transform: translateX(-100%); transform: translateX(-100%); }
  66.66666666666667%, 91.869918699187%  { -webkit-transform: translateX(-200%); transform: translateX(-200%); }
  
}

@keyframes slide-ie {
  0%, 25.203252032520325%  { margin-left: 0%; }
  33.333333333333336%, 58.53658536585366%  { margin-left: -100%; }
  66.66666666666667%, 91.869918699187%  { margin-left: -200%; }
  
}

.csslider1  > #cs_play1:checked ~ ul > .slide {
  -webkit-animation: slide 12300ms infinite;
  animation: slide 12300ms infinite;
}
/* IE 10+ hack - cant animate translate :( */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .csslider1  > #cs_play1:checked ~ ul > .slide {
    animation: slide-ie 12300ms infinite;
  }
}


.csslider1 > #cs_play1:checked ~ ul > .slide,
.csslider1 > .pause:checked ~ ul > .slide {
  -webkit-transition: none;
  transition: none;
}


/* ------------- /Effect ------------- */

/* ------------- Template Arrows ------------- */
.fa{
  margin-top: 20px;
}
.csslider1 > .cs_arrowprev > label,
.csslider1 > .cs_arrownext > label {
  overflow: hidden;
  margin-top: -35px;
  width: 40px;
  height: 70px;
  color: #fff;
  background: #fff;
  background-color: rgba(0,0,0,0.6);
  text-align: center;border-radius: 4px;
}
.csslider1 > .cs_arrowprev {
  left: 70px;
}
.csslider1 > .cs_arrownext {
  right: 70px;
}
.csslider1 > .cs_arrowprev > label {
  right: 0;
}
.csslider1 > .cs_arrownext > label {
  left: 0;
}

.csslider1 > .cs_arrowprev > label:after,
.csslider1 > .cs_arrownext > label:after {
  display: block;
  font: 40px "demurecontrols";
  text-align: center;
  line-height: 76px;
  color: #fff;
}
/* IE10+ hack */
_:-ms-input-placeholder, :root .csslider1 > .cs_arrowprev > label:after {
  line-height: 85px;
}
_:-ms-input-placeholder, :root .csslider1 > .cs_arrownext > label:after {
  line-height: 85px;
}




.csslider1 > .cs_arrowprev > label,
.csslider1 > .cs_arrownext > label {
  -webkit-transition: 300ms width ease, 300ms margin-left ease, 300ms background-color ease;
  transition: 300ms width ease, 300ms margin-left ease, 300ms background-color ease;
}
.csslider1 > .cs_arrowprev:hover > label {
  background-color: #5bc4b6;
  width: 70px;
}
.csslider1 > .cs_arrownext:hover > label {
  background-color: #5bc4b6;
  width: 70px;
}
/* ------------- /Template Arrows ------------- */

/* ------------- Template Play Pause ------------- */
.csslider1 > .cs_play_pause > label {
  text-decoration: none;
  margin-left: -20px;
  margin-top: -35px; 
  width: 40px;
  height: 70px;
  overflow: hidden;

  background: #000;
  background-color: rgba(0,0,0,0.6);

  border-radius: 4px;
}
.csslider1 > .cs_play_pause > .cs_play:after {
  content: '\e802';
  font-size: 28px;
}
.csslider1 > .cs_play_pause > .cs_pause:after {
  content: '\e803';
  font-size: 22px;
}
.csslider1 > .cs_play_pause > label:after{
  display: block;
  font-family: "demurecontrols";
  line-height: 74px;
  text-align: center;
  color: #fff;
}
/* IE10+ hack */
_:-ms-input-placeholder, :root .csslider1 > .cs_play_pause > label:after {
  line-height: 80px;
}



.csslider1 > .cs_play_pause > label {
  -webkit-transition: 300ms width ease, 300ms margin-left ease, 300ms background-color ease;
  transition: 300ms width ease, 300ms margin-left ease, 300ms background-color ease;
}

.csslider1 > .cs_play_pause:hover > label {
  background-color: #5bc4b6;
  width: 70px;
  margin-left: -35px;
}
/* ------------- /Template Play Pause ------------- */

/* ------------- Template Bullets ------------- */
.csslider1 > .cs_bullets {
  bottom: -40px;
  margin-bottom: 5px;
}

.csslider1 > .cs_bullets > label {
  -webkit-perspective: 500px;
  perspective: 500px;
}

.csslider1 > .cs_bullets > label > .cs_thumb {
  border: 3px solid #5bc4b6;
  margin-top: -11px;
  margin-left: 3px;
  -webkit-transition:
    opacity 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275),
    -webkit-transform 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275),
    visibility 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275);
  transition:
    opacity 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275),
    -webkit-transform 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275),
    transform 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275),
    visibility 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275);

  -webkit-transform-origin: 0% 100% 0px;
  transform-origin: 0% 100% 0px;

  -webkit-transform: rotateX(90deg);
  transform: rotateX(90deg);
}
.csslider1 > .cs_bullets > label > .cs_thumb:before {
  content: '';
  position: absolute;
  width: 0; 
  height: 0; 
  left: 50%;
  margin-left: -4px;
  bottom: -8px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  
  border-top: 7px solid #5bc4b6;
}
.csslider1 > .cs_bullets > label:hover > .cs_thumb {
  visibility: visible;
  opacity: 1;
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
}


.csslider1 > .cs_bullets > label {
  margin: 0 6px;
  padding: 9px;
  border-radius: 50%;
  background: #000;
  background-color: rgba(0,0,0,0.6);
}


.csslider1 > #cs_slide1_0:checked ~ .cs_bullets > label.num0,
.csslider1 > #cs_pause1_0:checked ~ .cs_bullets > label.num0,
.csslider1 > #cs_slide1_1:checked ~ .cs_bullets > label.num1,
.csslider1 > #cs_pause1_1:checked ~ .cs_bullets > label.num1,
.csslider1 > #cs_slide1_2:checked ~ .cs_bullets > label.num2,
.csslider1 > #cs_pause1_2:checked ~ .cs_bullets > label.num2 {
  background-color: #5bc4b6;
}

.csslider1 > .cs_bullets > label:hover {
  background-color: #5bc4b6;
}




@-webkit-keyframes bullet {
  0%, 33.32333333333334%  { background-color: #5bc4b6; }
  33.333333333333336%, 100% { background: #000; background-color: rgba(0,0,0,0.6); }
}
@keyframes bullet {
  0%, 33.32333333333334%  { background-color: #5bc4b6; }
  33.333333333333336%, 100% { background: #000; background-color: rgba(0,0,0,0.6); }
}

.csslider1 > #cs_play1:checked ~ .cs_bullets > label.num0 {
  -webkit-animation: bullet 12300ms infinite -1000ms;
  animation: bullet 12300ms infinite -1000ms;
}
.csslider1 > #cs_play1:checked ~ .cs_bullets > label.num1 {
  -webkit-animation: bullet 12300ms infinite 3100ms;
  animation: bullet 12300ms infinite 3100ms;
}
.csslider1 > #cs_play1:checked ~ .cs_bullets > label.num2 {
  -webkit-animation: bullet 12300ms infinite 7200ms;
  animation: bullet 12300ms infinite 7200ms;
}




.csslider1 > #cs_play1:checked ~ .cs_bullets > label,
.csslider1 > .pause:checked ~ .cs_bullets > label {
  -webkit-transition: none;
  transition: none;
}


.csslider1 > .slide:checked ~ .cs_bullets > label,
.csslider1 > .pause:checked ~ .cs_bullets > label {
  -webkit-animation: none;
  animation: none;
}

/* ------------- /Template Bullets ------------- */

/* ------------- Template Description ------------- */


.csslider1 > .cs_description > label {
  font: 20px 'Pacifico', cursive;
  line-height: normal;
  top: auto;
  opacity: 1;
  z-index: 1;
  
  -webkit-perspective: 500px;
  perspective: 500px;

  text-align: right;
  bottom: 35px;
  right: 20px;
  top: auto;
  left: auto;
}



.csslider1 > #cs_slide1_0:checked ~ .cs_description > .num0,
.csslider1 > #cs_pause1_0:checked ~ .cs_description > .num0,
.csslider1 > #cs_slide1_1:checked ~ .cs_description > .num1,
.csslider1 > #cs_pause1_1:checked ~ .cs_description > .num1,
.csslider1 > #cs_slide1_2:checked ~ .cs_description > .num2,
.csslider1 > #cs_pause1_2:checked ~ .cs_description > .num2 {
  z-index: 2;
}



.csslider1 > #cs_slide1_0:checked ~ .cs_description > .num0 > .cs_descr,
.csslider1 > #cs_pause1_0:checked ~ .cs_description > .num0 > .cs_descr,
.csslider1 > #cs_slide1_1:checked ~ .cs_description > .num1 > .cs_descr,
.csslider1 > #cs_pause1_1:checked ~ .cs_description > .num1 > .cs_descr,
.csslider1 > #cs_slide1_2:checked ~ .cs_description > .num2 > .cs_descr,
.csslider1 > #cs_pause1_2:checked ~ .cs_description > .num2 > .cs_descr {
  opacity: 1;
  visibility: visible;
  -webkit-transition:
    750ms opacity 1050ms cubic-bezier(0.680, -0.550, 0.265, 1.550),
    750ms -webkit-transform 1050ms cubic-bezier(0.680, -0.550, 0.265, 1.550),
    750ms visibility 1050ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
  transition:
    750ms opacity 1050ms cubic-bezier(0.680, -0.550, 0.265, 1.550),
    750ms -webkit-transform 1050ms cubic-bezier(0.680, -0.550, 0.265, 1.550),
    750ms transform 1050ms cubic-bezier(0.680, -0.550, 0.265, 1.550),
    750ms visibility 1050ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
    
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
}


.csslider1 > #cs_slide1_0:checked ~ .cs_description > .num0 > .cs_title,
.csslider1 > #cs_pause1_0:checked ~ .cs_description > .num0 > .cs_title,
.csslider1 > #cs_slide1_1:checked ~ .cs_description > .num1 > .cs_title,
.csslider1 > #cs_pause1_1:checked ~ .cs_description > .num1 > .cs_title,
.csslider1 > #cs_slide1_2:checked ~ .cs_description > .num2 > .cs_title,
.csslider1 > #cs_pause1_2:checked ~ .cs_description > .num2 > .cs_title {
  opacity: 1;
  visibility: visible;
    
  -webkit-transition:
    750ms opacity 900ms cubic-bezier(0.680, -0.550, 0.265, 1.550),
    750ms -webkit-transform 900ms cubic-bezier(0.680, -0.550, 0.265, 1.550),
    750ms visibility 900ms ease;
  transition:
    750ms opacity 900ms cubic-bezier(0.680, -0.550, 0.265, 1.550),
    750ms -webkit-transform 900ms cubic-bezier(0.680, -0.550, 0.265, 1.550),
    750ms transform 900ms cubic-bezier(0.680, -0.550, 0.265, 1.550),
    750ms visibility 900ms ease;
  
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
}


.csslider1 > #cs_slide1_0:checked ~ .cs_description > .num0 .cs_wrapper,
.csslider1 > #cs_pause1_0:checked ~ .cs_description > .num0 .cs_wrapper,
.csslider1 > #cs_slide1_1:checked ~ .cs_description > .num1 .cs_wrapper,
.csslider1 > #cs_pause1_1:checked ~ .cs_description > .num1 .cs_wrapper,
.csslider1 > #cs_slide1_2:checked ~ .cs_description > .num2 .cs_wrapper,
.csslider1 > #cs_pause1_2:checked ~ .cs_description > .num2 .cs_wrapper {
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}


.csslider1 > .cs_description > label > .cs_descr {
  text-align: left;
  font-size: 0.8em;
  margin: 1px 10px;
  opacity: 0;
  visibility: hidden;
  z-index: 1;

  background-color: #5bc4b6;

  -webkit-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
    
  -webkit-transition:
    750ms opacity 450ms cubic-bezier(0.680, -0.550, 0.265, 1.550),
    750ms -webkit-transform 300ms cubic-bezier(0.680, -0.550, 0.265, 1.550),
    750ms visibility 300ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
  transition:
    750ms opacity 450ms cubic-bezier(0.680, -0.550, 0.265, 1.550),
    750ms -webkit-transform 300ms cubic-bezier(0.680, -0.550, 0.265, 1.550),
    750ms transform 300ms cubic-bezier(0.680, -0.550, 0.265, 1.550),
    750ms visibility 300ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
}


.csslider1 > .cs_description > label > .cs_title > .cs_wrapper {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);

  -webkit-transition:
    750ms opacity 1150ms cubic-bezier(0.680, -0.550, 0.265, 1.550),
    750ms -webkit-transform 1150ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
  transition:
    750ms opacity 1150ms cubic-bezier(0.680, -0.550, 0.265, 1.550),
    750ms -webkit-transform 1150ms cubic-bezier(0.680, -0.550, 0.265, 1.550),
    750ms transform 1150ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
}
.csslider1 > .cs_description > label > .cs_descr > .cs_wrapper {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);

  -webkit-transition:
    750ms opacity 1375ms cubic-bezier(0.680, -0.550, 0.265, 1.550),
    750ms -webkit-transform 1375ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
  transition:
    750ms opacity 1375ms cubic-bezier(0.680, -0.550, 0.265, 1.550),
    750ms -webkit-transform 1375ms cubic-bezier(0.680, -0.550, 0.265, 1.550),
    750ms transform 1375ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
}





@-webkit-keyframes cs_descrWrapper {
  2.9878048780487805%, 37.60162601626016%  { z-index: 2; }
  37.61162601626016%, 100%  { z-index: 0; }
}
@keyframes cs_descrWrapper {
  2.9878048780487805%, 37.60162601626016%  { z-index: 2; }
  37.61162601626016%, 100%  { z-index: 0; }
}


.csslider1 > #cs_play1:checked ~ .cs_description > .num0 {
  -webkit-animation: cs_descrWrapper 12300ms infinite -700ms ease;
  animation: cs_descrWrapper 12300ms infinite -700ms ease;
}
.csslider1 > #cs_play1:checked ~ .cs_description > .num1 {
  -webkit-animation: cs_descrWrapper 12300ms infinite 3400ms ease;
  animation: cs_descrWrapper 12300ms infinite 3400ms ease;
}
.csslider1 > #cs_play1:checked ~ .cs_description > .num2 {
  -webkit-animation: cs_descrWrapper 12300ms infinite 7500ms ease;
  animation: cs_descrWrapper 12300ms infinite 7500ms ease;
}



@-webkit-keyframes cs_title {
  2.9878048780487805%, 30.335528455284553%  {
    opacity: 1;
    z-index: 2;
    visibility: visible;
    -webkit-transform: rotateX(-9deg);
    transform: rotateX(-9deg);
  }
  4.2682926829268295%, 29.055040650406504%  {
    opacity: 1;
    z-index: 2;
    visibility: visible;
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
  33.333333333333336%  {
    opacity: 0;
    z-index: 2;
    visibility: hidden;
    -webkit-transform: rotateX(90deg);
    transform: rotateX(90deg);
  }
  33.343333333333334%, 100%  { z-index: 0; }
}
@keyframes cs_title {
  2.9878048780487805%, 30.335528455284553%  {
    opacity: 1;
    z-index: 2;
    visibility: visible;
    -webkit-transform: rotateX(-9deg);
    transform: rotateX(-9deg);
  }
  4.2682926829268295%, 29.055040650406504%  {
    opacity: 1;
    z-index: 2;
    visibility: visible;
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
  33.333333333333336%  {
    opacity: 0;
    z-index: 2;
    visibility: hidden;
    -webkit-transform: rotateX(90deg);
    transform: rotateX(90deg);
  }
  33.343333333333334%, 100%  { z-index: 0; }
}


@-webkit-keyframes cs_descr {
  5.975609756097561%, 26.067235772357723%  {
    opacity: 1;
    z-index: 1;
    visibility: visible;
    -webkit-transform: rotateX(9deg);
    transform: rotateX(9deg);
  }
  8.536585365853659%, 24.786747967479673%  {
    opacity: 1;
    z-index: 1;
    visibility: visible;
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
  33.333333333333336%  {
    opacity: 0;
    z-index: 1;
    visibility: hidden;
    -webkit-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
  }
  33.343333333333334%, 100%  { z-index: 0; }
}
@keyframes cs_descr {
  5.975609756097561%, 26.067235772357723%  {
    opacity: 1;
    z-index: 1;
    visibility: visible;
    -webkit-transform: rotateX(9deg);
    transform: rotateX(9deg);
  }
  8.536585365853659%, 24.786747967479673%  {
    opacity: 1;
    z-index: 1;
    visibility: visible;
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
  33.333333333333336%  {
    opacity: 0;
    z-index: 1;
    visibility: hidden;
    -webkit-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
  }
  33.343333333333334%, 100%  { z-index: 0; }
}


.csslider1 > #cs_play1:checked ~ .cs_description > .num0  > .cs_title {
  -webkit-animation: cs_title 12300ms infinite -700ms ease;
  animation: cs_title 12300ms infinite -700ms ease;
}
.csslider1 > #cs_play1:checked ~ .cs_description > .num1  > .cs_title {
  -webkit-animation: cs_title 12300ms infinite 3400ms ease;
  animation: cs_title 12300ms infinite 3400ms ease;
}
.csslider1 > #cs_play1:checked ~ .cs_description > .num2  > .cs_title {
  -webkit-animation: cs_title 12300ms infinite 7500ms ease;
  animation: cs_title 12300ms infinite 7500ms ease;
}


.csslider1 > #cs_play1:checked ~ .cs_description > .num0  > .cs_descr {
  -webkit-animation: cs_descr 12300ms infinite -700ms ease;
  animation: cs_descr 12300ms infinite -700ms ease;
}
.csslider1 > #cs_play1:checked ~ .cs_description > .num1  > .cs_descr {
  -webkit-animation: cs_descr 12300ms infinite 3400ms ease;
  animation: cs_descr 12300ms infinite 3400ms ease;
}
.csslider1 > #cs_play1:checked ~ .cs_description > .num2  > .cs_descr {
  -webkit-animation: cs_descr 12300ms infinite 7500ms ease;
  animation: cs_descr 12300ms infinite 7500ms ease;
}



@-webkit-keyframes cs_title_text {
  2.9878048780487805%, 30.335528455284553%  {
    opacity: 1;
    -webkit-transform: translateX(-1%);
    transform: translateX(-1%);
  }
  4.2682926829268295%, 29.055040650406504%  {
    opacity: 1;
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
  33.333333333333336%  {
    opacity: 0;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}
@keyframes cs_title_text {
  2.9878048780487805%, 30.335528455284553%  {
    opacity: 1;
    -webkit-transform: translateX(-1%);
    transform: translateX(-1%);
  }
  4.2682926829268295%, 29.055040650406504%  {
    opacity: 1;
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
  33.333333333333336%  {
    opacity: 0;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}

@-webkit-keyframes cs_descr_text {
  5.975609756097561%, 26.067235772357723%  {
    opacity: 1;
    -webkit-transform: translateX(1%);
    transform: translateX(1%);
  }
  8.536585365853659%, 24.786747967479673%  {
    opacity: 1;
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
  33.333333333333336%  {
    opacity: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
@keyframes cs_descr_text {
  5.975609756097561%, 26.067235772357723%  {
    opacity: 1;
    -webkit-transform: translateX(1%);
    transform: translateX(1%);
  }
  8.536585365853659%, 24.786747967479673%  {
    opacity: 1;
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
  33.333333333333336%  {
    opacity: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}


.csslider1 > #cs_play1:checked ~ .cs_description > .num0 .cs_title > .cs_wrapper {
  -webkit-animation: cs_title_text 12300ms infinite -490ms ease;
  animation: cs_title_text 12300ms infinite -490ms ease;
}
.csslider1 > #cs_play1:checked ~ .cs_description > .num1 .cs_title > .cs_wrapper {
  -webkit-animation: cs_title_text 12300ms infinite 3610ms ease;
  animation: cs_title_text 12300ms infinite 3610ms ease;
}
.csslider1 > #cs_play1:checked ~ .cs_description > .num2 .cs_title > .cs_wrapper {
  -webkit-animation: cs_title_text 12300ms infinite 7710ms ease;
  animation: cs_title_text 12300ms infinite 7710ms ease;
}


.csslider1 > #cs_play1:checked ~ .cs_description > .num0 .cs_descr > .cs_wrapper {
  -webkit-animation: cs_descr_text 12300ms infinite -490ms ease;
  animation: cs_descr_text 12300ms infinite -490ms ease;
}
.csslider1 > #cs_play1:checked ~ .cs_description > .num1 .cs_descr > .cs_wrapper {
  -webkit-animation: cs_descr_text 12300ms infinite 3610ms ease;
  animation: cs_descr_text 12300ms infinite 3610ms ease;
}
.csslider1 > #cs_play1:checked ~ .cs_description > .num2 .cs_descr > .cs_wrapper {
  -webkit-animation: cs_descr_text 12300ms infinite 7710ms ease;
  animation: cs_descr_text 12300ms infinite 7710ms ease;
}




.csslider1 > #cs_play1:checked ~ .cs_description > label > .cs_title,
.csslider1 > #cs_play1:checked ~ .cs_description > label > .cs_descr,
.csslider1 > #cs_play1:checked ~ .cs_description > label > .cs_title > .cs_wrapper,
.csslider1 > #cs_play1:checked ~ .cs_description > label > .cs_descr > .cs_wrapper,
.csslider1 > .pause:checked ~ .cs_description > label > .cs_title,
.csslider1 > .pause:checked ~ .cs_description > label > .cs_descr,
.csslider1 > .pause:checked ~ .cs_description > label > .cs_title > .cs_wrapper,
.csslider1 > .pause:checked ~ .cs_description > label > .cs_descr > .cs_wrapper {
  -webkit-transition: none;
  transition: none;
}

.csslider1 > .slide:checked ~ .cs_description > label > .cs_title,
.csslider1 > .slide:checked ~ .cs_description > label > .cs_descr,
.csslider1 > .slide:checked ~ .cs_description > label > .cs_title > .cs_wrapper,
.csslider1 > .slide:checked ~ .cs_description > label > .cs_descr > .cs_wrapper,
.csslider1 > .pause:checked ~ .cs_description > label > .cs_title,
.csslider1 > .pause:checked ~ .cs_description > label > .cs_descr,
.csslider1 > .pause:checked ~ .cs_description > label > .cs_title > .cs_wrapper,
.csslider1 > .pause:checked ~ .cs_description > label > .cs_descr > .cs_wrapper {
  -webkit-animation: none;
  animation: none;
}



/* ------------- /Template Description ------------- */
/* hide description & bullets on mobile devices */
@media
only screen and (max-width: 480px),
only screen and (-webkit-max-device-pixel-ratio: 2)      and (max-width: 480px),
only screen and (   max--moz-device-pixel-ratio: 2)      and (max-width: 480px),
only screen and (     -o-max-device-pixel-ratio: 2/1)    and (max-width: 480px),
only screen and (        max-device-pixel-ratio: 2)      and (max-width: 480px),
only screen and (                max-resolution: 192dpi) and (max-width: 480px),
only screen and (                max-resolution: 2dppx)  and (max-width: 480px) { 
  .csslider1 > .cs_description,
  .csslider1 > .cs_bullets {
    display: none;
  }
}