
.topSeller {
	width: 100%;
	height: 100%;
	max-height: 260px;
	position: relative;
	display:block;
	margin: 0 auto !important;
}
.topSeller > .cs_anchor10 {
  display: none;
	background: none!important;
}
.topSeller > ul {
  position: relative;
  z-index: 1;
  font-size: 0;
  line-height: 0;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  white-space: pre-wrap;
  width: 93%;
  height: 100%;

}
.topSeller > ul > .cs_skeleton {
  /*  width: 100%;*/
    visibility: hidden;
    font-size: 0px;
    line-height: 0;
    display: block;
	height:240px;
}

.topSeller > ul > .slide10.img img {
    max-width: 320px;
    max-height: 320px;
}

.topSeller > ul > .slide10.img a:active, .content-slider li a:hover, .content-slider li a:active  {background: none!important;}
.topSeller > ul > .slide10.img a:hover h3 {text-decoration:underline;
}


.topSeller > ul > .slide10 {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 320px;
  height: 100%;
  overflow: hidden;
  font-size: 15px;
  font-size: initial;
  line-height: normal;
  white-space: normal;
  vertical-align: top;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.topSeller > ul > li.img,
.topSeller > .cs_arrowprev10,
.topSeller > .cs_arrownext10,
.topSeller > .cs_bullets
 {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* ------------- /General Styles ------------- */

.topSeller > ul > .slide10 .text-item { width: 73%;
    text-align: center;
    display: inline-block;
		margin-top: 18px;}

.topSeller > ul > .slide10 .text-item p {font-size:17px;
    color: #5bc4b6;
	margin:4px 0;
  font-weight: bold;
}

.topSeller > ul > .slide10 .text-item h3 {font-size:13px;
color:#000;max-height: 43px;overflow: hidden;}

.topSeller > ul > .slide10 .text-item .old-pr {
color:#969696;
text-decoration:line-through;font-weight: bold;}
.topSeller > ul > .slide10 .text-item h3:hover {: none!important;}

/* ------------- General Arrows ------------- */
.topSeller > .cs_arrowprev10,
.topSeller > .cs_arrownext10 {
  position: absolute;
  top: 50%;
  z-index: 5;
}
.topSeller > .cs_arrowprev10 > label,
.topSeller > .cs_arrownext10 > label {
  position: absolute;
  text-decoration: none;
  cursor: pointer;
  opacity: 1;
  z-index: -1;
}
.topSeller > .cs_arrowprev10 {
  left: 0;
}
.topSeller > .cs_arrownext10 {
  right: 0;
}

.topSeller > .slide10:checked ~ .cs_arrowprev10 > label,
.topSeller > .slide10:checked ~ .cs_arrownext10 > label {
  opacity: 1;
  z-index: -1;
}

.topSeller .step2, .topSeller .step3, .topSeller .step4 {display: none;}

.topSeller > #cs_slide10_0:checked ~ .cs_arrowprev10 > label.num1,
.topSeller > #cs_slide10_0:checked ~ .cs_arrownext10 > label.num1,
.topSeller > #cs_slide10_1:checked ~ .cs_arrowprev10 > label.num0,
.topSeller > #cs_slide10_1:checked ~ .cs_arrownext10 > label.num0 {
  opacity: 1;
  z-index: 5;
}



@-webkit-keyframes arrow1 {
  0%, 12.49% { opacity: 1; z-index: 5; }
  12.5%, 100%  { opacity: 1; z-index: -1; }
}
@keyframes arrow1 {
  0%, 12.49% { opacity: 1; z-index: 5; }
  12.5%, 100%  { opacity: 1; z-index: -1; }
}

.topSeller > .slide10:checked ~ .cs_arrowprev10 > label,
.topSeller > .slide10:checked ~ .cs_arrownext10 > label,
.topSeller > .pause:checked ~ .cs_arrowprev10 > label,
.topSeller > .pause:checked ~ .cs_arrownext10 > label {
  -webkit-animation: none;
  animation: none;
}


/* ------------- /General Play Pause ------------- */

/* ------------- Effect ------------- */
.topSeller > ul > .slide10.num0 {
  left: 0%;
}
.topSeller > ul > .slide10.num1 {
  left: 25%;
}
.topSeller  ul > .slide10.num2 {
  left: 50%;
}
.topSeller > ul > .slide10.num3 {
  left: 75%;
}
.topSeller > ul > .slide10.num4 {
  left: 100%;
}
.topSeller > ul > .slide10.num5 {
  left: 125%;
}
.topSeller > ul > .slide10.num6 {
  left: 150%;
}
.topSeller > ul > .slide10.num7 {
  left: 175%;}
.topSeller > ul > .slide10.num8 {
  left: 200%;
}



.topSeller > #cs_slide10_0:checked ~ ul > .slide10,
.topSeller > #cs_pause1_0:checked ~ ul > .slide10 {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}
.topSeller > #cs_slide10_1:checked ~ ul > .slide10,
.topSeller > #cs_pause1_1:checked ~ ul > .slide10 {
  -webkit-transform: translateX(-400%);
  transform: translateX(-400%);
}


.topSeller > ul > .slide10 {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  opacity: 1;
  -webkit-transition: -webkit-transform 1000ms;
  transition: -webkit-transform 1000ms, transform 1000ms;
  -webkit-transform: scale(1);
  transform: scale(1);
}

/* IE 10+ hack - cant animate translate :( */


/* ------------- /Effect ------------- */

/* ------------- Template Show on hover ------------- */

.topSeller > .cs_arrowprev10 {
  -webkit-transition: .4s all .15s ease;
  transition: .4s all .15s ease;
}
.topSeller > .cs_arrownext10 {
  -webkit-transition: .4s all .3s ease;
  transition: .4s all .3s ease;
}
.topSeller > .cs_arrowprev10,
.topSeller > .cs_arrownext10,
.topSeller > .cs_play_pause {
  /* opacity: 0; */
  /* -webkit-transform: translateY(-30px); */
  /* transform: translateY(-30px); */
}

.topSeller:hover > .cs_arrowprev10,
.topSeller:hover > .cs_arrownext10 {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
/* ------------- /Template Show on hover ------------- */

/* ------------- Template Arrows ------------- */
.topSeller > .cs_arrowprev10 > label {
  /*padding: 17px;*/
  height: 36px;
  width: 36px;
  box-sizing: border-box;
     background: url(../images/buttons.png) no-repeat 0 -15px;

}
.topSeller > .cs_arrownext10 > label {padding: 17px;
height: 36px;
width: 36px;
  box-sizing: border-box;
background: url(../images/buttons.png) no-repeat 0 -64px;
}

.topSeller > .cs_arrownext10:hover > label {

background: url(../images/buttons.png) no-repeat 0 -160px;
}

.topSeller > .cs_arrowprev10 > label,
.topSeller > .cs_arrownext10 > label {
  -webkit-transition: background-color 0.4s, color 0.4s;
  transition: background-color 0.4s, color 0.4s;
}
.topSeller > .cs_arrowprev10 {
  margin-right: -1%;
  left: 10px;
  right:0;
}
.topSeller > .cs_arrownext10 {
  left: auto;
  right: 45px;
}

.topSeller > .cs_arrowprev10:hover > label {

background: url(../images/buttons.png) no-repeat 0 -111px;
}

/* IE10+ hack */





/*.topSeller > .cs_arrowprev10:hover > label,
.topSeller > .cs_arrownext10:hover > label {
  background-color:;
}*/


/* ------------- Template Bullets ------------- */
.topSeller > .cs_bullets {
  bottom: 5px;
  margin-bottom: 5px;
  display: none;
}
.topSeller > .cs_bullets > label {
  border-radius: 50%;
  margin: 0 5px;
  padding: 9px;

}


.topSeller > .cs_bullets > label > .cs_thumb {

  margin-top: -150%;
  margin-left: 3px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.topSeller > .cs_bullets > label > .cs_thumb:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  left: 50%;
  margin-left: -4px;
  bottom: -9px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;

  border-top: 7px solid #CBECFD;
}
.topSeller > .cs_bullets > label:hover > .cs_thumb {
  margin-top: -12px;
  opacity: 1;
  visibility: visible;
}



.topSeller > .cs_bullets > label > .cs_point {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -2px;
  margin-top: -2px;
  : transparent;
  border-radius: 50%;
  padding: 2px;
}

.topSeller > .cs_bullets > label:hover > .cs_point,
.topSeller > #cs_slide10_0:checked ~ .cs_bullets > label.num0 > .cs_point,
.topSeller > #cs_slide10_1:checked ~ .cs_bullets > label.num1 > .cs_point,
.topSeller > #cs_slide10_2:checked ~ .cs_bullets > label.num2 > .cs_point,
.topSeller > #cs_slide10_3:checked ~ .cs_bullets > label.num3 > .cs_point,
.topSeller > #cs_slide10_4:checked ~ .cs_bullets > label.num4 > .cs_point,
.topSeller > #cs_slide10_5:checked ~ .cs_bullets > label.num5 > .cs_point,
.topSeller > #cs_slide10_6:checked ~ .cs_bullets > label.num6 > .cs_point,
.topSeller > #cs_slide10_7:checked ~ .cs_bullets > label.num7 > .cs_point,
{  : #3A4A5A;
}



/* ------------- Template Description ------------- */

.topSeller > .cs_arrowprev10, .topSeller > .cs_arrownext10 {
	top: 38%;
}
.topSeller > ul > .slide10 {
	width: 25%;
}
.topSeller > ul > .slide10.img {
	text-align: center;
}
.topSeller > ul > .slide10.img img {
	max-width: 100%;
}

@media all and (max-width: 1900px) {
.topSeller > ul > .slide10 .text-item h3 {
	max-height: 47px;
	overflow: hidden;
}
}

@media all and (max-width: 1900px) {
.topSeller .step2 {display: block;
opacity: 0;}

.topSeller > ul > .slide10 .text-item {
    width: 74%;
}

.topSeller > .cs_arrowprev10 > label, .topSeller > .cs_arrownext10 > label, .topSeller > .cs_arrowprev10:hover > label, .topSeller > .cs_arrownext10:hover > label {    background-size: 100%;}
.topSeller {max-height: 300px;}

.topSeller > ul > .cs_skeleton{height: 270px;}

.topSeller > .cs_arrowprev10 {left: -7px;}

.topSeller > #cs_slide10_0:checked ~ .cs_arrowprev10 > label.num2,
.topSeller > #cs_slide10_0:checked ~ .cs_arrownext10 > label.num1,
.topSeller > #cs_slide10_1:checked ~ .cs_arrowprev10 > label.num0,
.topSeller > #cs_slide10_1:checked ~ .cs_arrownext10 > label.num2,
.topSeller > #cs_slide10_2:checked ~ .cs_arrowprev10 > label.num1,
.topSeller > #cs_slide10_2:checked ~ .cs_arrownext10 > label.num0
 {
	opacity: 1;
	z-index: 5;
}


.topSeller > ul > .slide10 {width: 32%;
margin: 0;}


/* ------------- Effect ------------- */
.topSeller > ul > .slide10.num0 {
  left: 0%;
}
.topSeller > ul > .slide10.num1 {
  left: 32%;
}
.topSeller  ul > .slide10.num2 {
  left: 64%;
}
.topSeller > ul > .slide10.num3 {
  left: 96%;
}
.topSeller > ul > .slide10.num4 {
  left: 128%;
}
.topSeller > ul > .slide10.num5 {
  left: 160%;
}
.topSeller > ul > .slide10.num6 {
  left: 192%;
}
.topSeller > ul > .slide10.num7 {
  left: 224%;}
.topSeller > ul > .slide10.num8 {
  left: 256%;
}

.topSeller > #cs_slide10_0:checked ~ ul > .slide10,
.topSeller > #cs_pause1_0:checked ~ ul > .slide10 {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}
.topSeller > #cs_slide10_1:checked ~ ul > .slide10,
.topSeller > #cs_pause1_1:checked ~ ul > .slide10 {
  -webkit-transform: translateX(-200%);
  transform: translateX(-200%);
}
.topSeller > #cs_slide10_2:checked ~ ul > .slide10,
.topSeller > #cs_pause1_2:checked ~ ul > .slide10 {
  -webkit-transform: translateX(-400%);
  transform: translateX(-400%);
}


}


@media only screen
and (max-device-width : 768px)
and (orientation : portrait) {

.topSeller > ul {  top: 0px;}

}




@media all and (max-width: 700px) {
.content-slider {
    max-width: 639px!important;
}
.topSeller > ul {width: 90%;}
}

@media all and (max-width: 1100px) {
.content-slider {
    max-width: 572px!important;
}

.topSeller .step3 {display: block;
opacity: 0;}

.topSeller > #cs_slide10_0:checked ~ .cs_arrowprev10 > label.num3,
.topSeller > #cs_slide10_0:checked ~ .cs_arrownext10 > label.num1,
.topSeller > #cs_slide10_1:checked ~ .cs_arrowprev10 > label.num0,
.topSeller > #cs_slide10_1:checked ~ .cs_arrownext10 > label.num2,
.topSeller > #cs_slide10_2:checked ~ .cs_arrowprev10 > label.num1,
.topSeller > #cs_slide10_2:checked ~ .cs_arrownext10 > label.num3,
.topSeller > #cs_slide10_3:checked ~ .cs_arrowprev10 > label.num2,
.topSeller > #cs_slide10_3:checked ~ .cs_arrownext10 > label.num0
 {
	opacity: 1;
	z-index: 5;
}


.topSeller > ul > .slide10 {width: 50%;
margin: 0;}


/* ------------- Effect ------------- */
.topSeller > ul > .slide10.num0 {
  left: 0%;
}
.topSeller > ul > .slide10.num1 {
  left: 50%;
}
.topSeller  ul > .slide10.num2 {
  left: 100%;
}
.topSeller > ul > .slide10.num3 {
  left: 150%;
}
.topSeller > ul > .slide10.num4 {
  left: 200%;
}
.topSeller > ul > .slide10.num5 {
  left: 250%;
}
.topSeller > ul > .slide10.num6 {
  left: 300%;
}
.topSeller > ul > .slide10.num7 {
  left: 350%;}
.topSeller > ul > .slide10.num8 {
  left: 400%;
}

.topSeller > #cs_slide10_0:checked ~ ul > .slide10,
.topSeller > #cs_pause1_0:checked ~ ul > .slide10 {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}
.topSeller > #cs_slide10_1:checked ~ ul > .slide10,
.topSeller > #cs_pause1_1:checked ~ ul > .slide10 {
  -webkit-transform: translateX(-200%);
  transform: translateX(-200%);
}
.topSeller > #cs_slide10_2:checked ~ ul > .slide10,
.topSeller > #cs_pause1_2:checked ~ ul > .slide10 {
  -webkit-transform: translateX(-400%);
  transform: translateX(-400%);
}
.topSeller > #cs_slide10_3:checked ~ ul > .slide10,
.topSeller > #cs_pause1_3:checked ~ ul > .slide10 {
  -webkit-transform: translateX(-600%);
  transform: translateX(-600%);
}

}


@media all and (max-width: 480px)  {
	.content-slider {
    max-width: 320px!important;
}

.topSeller .step4 {display: block;
opacity: 0;}

.topSeller > ul > .slide10 {
    width: 100%;
}
.topSeller > ul > .slide10 .text-item {
    width: 76%;
}

	.topSeller > #cs_slide10_0:checked ~ .cs_arrowprev10 > label.num7,
	.topSeller > #cs_slide10_0:checked ~ .cs_arrownext10 > label.num1,
	.topSeller > #cs_slide10_1:checked ~ .cs_arrowprev10 > label.num0,
	.topSeller > #cs_slide10_1:checked ~ .cs_arrownext10 > label.num2,
	.topSeller > #cs_slide10_2:checked ~ .cs_arrowprev10 > label.num1,
	.topSeller > #cs_slide10_2:checked ~ .cs_arrownext10 > label.num3,
	.topSeller > #cs_slide10_3:checked ~ .cs_arrowprev10 > label.num2,
	.topSeller > #cs_slide10_3:checked ~ .cs_arrownext10 > label.num4,
	.topSeller > #cs_slide10_4:checked ~ .cs_arrowprev10 > label.num3,
	.topSeller > #cs_slide10_4:checked ~ .cs_arrownext10 > label.num5,
	.topSeller > #cs_slide10_5:checked ~ .cs_arrowprev10 > label.num4,
	.topSeller > #cs_slide10_5:checked ~ .cs_arrownext10 > label.num6,
	.topSeller > #cs_slide10_6:checked ~ .cs_arrowprev10 > label.num5,
	.topSeller > #cs_slide10_6:checked ~ .cs_arrownext10 > label.num7,
	.topSeller > #cs_slide10_7:checked ~ .cs_arrowprev10 > label.num6,
	.topSeller > #cs_slide10_7:checked ~ .cs_arrownext10 > label.num0 {
	  opacity: 1;
	  z-index: 5;
	}

	/* ------------- Effect ------------- */
	.topSeller > ul > .slide10.num0 {
	  left: 0%;
	}
	.topSeller > ul > .slide10.num1 {
	  left: 100%;
	}
	.topSeller  ul > .slide10.num2 {
	  left: 200%;
	}
	.topSeller > ul > .slide10.num3 {
	  left: 300%;
	}
	.topSeller > ul > .slide10.num4 {
	  left: 400%;
	}
	.topSeller > ul > .slide10.num5 {
	  left: 500%;
	}
	.topSeller > ul > .slide10.num6 {
	  left: 600%;
	}
	.topSeller > ul > .slide10.num7 {
	  left: 700%;}
	.topSeller > ul > .slide10.num8 {
	  left: 800%;
	}



	.topSeller > #cs_slide10_0:checked ~ ul > .slide10 {
	  -webkit-transform: translateX(0%);
	  transform: translateX(0%);
	}
	.topSeller > #cs_slide10_1:checked ~ ul > .slide10 {
	  -webkit-transform: translateX(-100%);
	  transform: translateX(-100%);
	}
	.topSeller > #cs_slide10_2:checked ~ ul > .slide10 {
	  -webkit-transform: translateX(-200%);
	  transform: translateX(-200%);
	}
	.topSeller > #cs_slide10_3:checked ~ ul > .slide10 {
	  -webkit-transform: translateX(-300%);
	  transform: translateX(-300%);
	}
	.topSeller > #cs_slide10_4:checked ~ ul > .slide10 {
	  -webkit-transform: translateX(-400%);
	  transform: translateX(-400%);
	}
	.topSeller > #cs_slide10_5:checked ~ ul > .slide10 {
	  -webkit-transform: translateX(-500%);
	  transform: translateX(-500%);
	}
	.topSeller > #cs_slide10_6:checked ~ ul > .slide10 {
	  -webkit-transform: translateX(-600%);
	  transform: translateX(-600%);
	}
	.topSeller > #cs_slide10_7:checked ~ ul > .slide10 {
	  -webkit-transform: translateX(-700%);
	  transform: translateX(-700%);
	}


}


@media only screen
and (max-device-width : 414px)
and (orientation : portrait)
{
/*
.topSeller > ul {  top:-60px!important;}
*/
.topSeller > .cs_anchor10 {height: 0;}
}
